.flex {
  display: flex;
}

.expense-block {
  border: solid 1px black;
  margin: 5px;
  padding: 1em;
  background-color: #eff1f3;
  color: #223843;
}

.block-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.block-body {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  justify-content: space-between;
}

.expense-buttons {
  display: flex;
}

.edit {
  margin-right: 1em;
}

p {
  word-break: break-all;
}
